<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <span>{{ title }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div *ngIf="afAuth.user | async as user; else showLogin">
    {{ user.displayName }} <button color="accent" mat-button (click)="logout()">Log out</button>
  </div>
  <ng-template #showLogin>
    <button mat-button (click)="login()">Log in</button>
  </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
