<mat-card>
  <mat-card-title>
    Generative approach to classification
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li><h3>The learning process</h3>
        Fit a probability distribution to each class, individually
    </li>
    <li><h3>To classify a new point</h3>
        Which of these distributions was it most likely to have come from?
    </li>
    </ul>
  </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/machine-learning/generative-approach-to-classification']">Show detail</a>
    </mat-card-actions>
</mat-card>