
<mat-card>
  <mat-card-title>
    Free domain + hosting
  </mat-card-title>
  <mat-card-content>
    <ul>
    <li>Get free domain. <a href="https://freenom.com" target="_blank">freenom.com</a></li>
    <li>Use free static web hosting. <a href="https://surge.sh" target="_blank">surge.sh</a></li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Create firebase project
  </mat-card-title>
  <mat-card-content>
    <iframe src="https://www.youtube.com/embed/6juww5Lmvgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-card-content>
</mat-card>


<ng-adsense></ng-adsense>